{% extends "base.html" %} {% load static %}
<!--  -->
{% block title %} Privacy & Policy {% endblock title %}
<!--  -->
{% block content %}
<div class="container my-5">
  <main class="privacy-policy_bg">
    <p class="lead text-center ovw">
      Thank you for visiting our site. On this page you can find full
      information about our privacy policy. We strive to ensure the highest
      level of security for our users' data.
    </p>
    <div class="row privacy-policy_col my-4">
      <div class="col-12 col-md-6 col-lg-4">
        <h2 class="mt-4">Data to be collected</h2>
        <p>We may collect the following information:</p>
        <ul>
          <li>Personal information (e.g. your name, email address)</li>
          <li>Visiting information via cookies</li>
          <li>Information about your device and browser</li>
        </ul>
      </div>

      <div class="col-12 col-md-6 col-lg-4">
        <h2 class="mt-4">Use of information</h2>
        <p>The collected data is used for the following purposes:</p>
        <ul>
          <li>Service improvement and personalization</li>
          <li>Stay in touch with users</li>
          <li>Notify about new features and services</li>
        </ul>
      </div>

      <div class="col-12 col-md-12 col-lg-4 width100">
        <h2 class="mt-4 width100">User rights</h2>
        <p class="width100">Users have the following rights:</p>
        <ul>
          <li>View, edit or delete your personal information</li>
          <li>Stop using our services</li>
        </ul>
      </div>
    </div>

    <h2 class="mt-3 last_privacy">Sharing with third parties</h2>
    <p>
      We do not share the collected information with third parties, except as
      required by law or within the scope of providing services.
    </p>
  </main>
</div>
{% endblock content %}
